<section class="main_section">
  
  <% if logged_in? %>
    <div class="feed">
      <% if @feed_items.any? %>
        <% @feed_items.each do |post|%>
          <%= render 'posts/feed_item', post: post %>
        <% end %>
      <% end %>
      <%= will_paginate @feed_items %>
    </div>
    <div class="side_contents">
      <div class="sidebar-nav affix" role="complementary">
        <div class="side_user_info">
          <div class="side_user_icon">
            <%= link_to gravatar_for(current_user, size: 60), current_user %>
          </div>
          <div class="side_user_account">
            <div class="side_user_username">
              <%= link_to "#{current_user.user_name}", current_user %>
            </div>
          <div class="side_user_name"><%= current_user.name %></div>
        </div>
      </div>
      <div class="user_post_link text-center">
        <%= link_to "画像を投稿する", create_path %>
      </div>
    </div>
    <%# <section class="post_form">
      <%= render 'shared/post_form' %>
    <%# </section> %>
  <% else %>
    <div class="login_form text-center">
      <div class="content_title">
        みかん太郎の</br>Insta App
      </div>
    <%= link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, class: "btn btn-primary" %>
    <p>アカウントをお持ちでないですか？<%= link_to "登録する", accounts_signup_path %></p>
    </div>
  <% end %>
</section>