<li id="comment-<%= comment.id %>">
  <div class="content_user_comment">
    <div class="comment_user_icon">
      <%= link_to gravatar_for(comment.user, size: 32), comment.user %>
    </div>
    <div class="comment_contents text-left">
      <h3 class="comment_user_name"><%= link_to comment.user.name, comment.user %></h2>
      <span class="comment_user_text"><%= comment.content %></span>
      <span class="timestamp">
        <%= time_ago_in_words(comment.created_at) %>前
      </span>
      <% if current_user?(comment.user) %>
        <%= link_to "delete",
            post_comment_path(comment.post, comment), 
            method: :delete,
            remote: true,
            data: { confirm: '本当に削除しますか?' } %>
      <% end %>
    </div>
  </div>   
</li>