<% provide(:title, "プロフィールを編集") %>
<h1>プロフィールを編集</h1>

<div class="row">

  <div class="gravatar_edit">
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control' %>

      <%= f.label :pr_text %>
      <%= f.text_area :pr_text, class: 'form-control' %>

      <div>非公開情報</div>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.telephone_field :phone, class: 'form-control' %>

      <%= f.label :gender %>
      <%= f.select :gender, [["男性", "男性"], ["女性", "女性"],  ["答えたくない", "答えたくない"] ],
                    :prompt => "選択してください", class: 'form-control' %>
      
      <%= f.label :notification %>
      お知らせを受け取る<%= f.check_box :notification, {}, 'true', 'false' %>
    

      <%= f.submit "送信する", class: "btn btn-primary" %>
    <% end %>
  </div>
  <%= link_to "パスワード変更", accounts_password_change_path %>

  <%= link_to "アカウント停止", @user, method: :delete,
                                  data: { confirm: "You sure?" } %> 
</div>