<% provide(:title, "プロフィールを編集") %>
<div class="row">
<div class="profile_container">
  <div class="col-xs-3 profile_list">
    <ul>
      <li><%= link_to "プロフィールを編集", edit_user_path %></li>
      <li><%= link_to "パスワードを変更", accounts_password_change_path %></li>
      <li><%= link_to "ログアウト", logout_path, method: :delete, data: { confirm: "ログアウトしますか?" } %></li>
      <li><%= link_to "アカウント停止", @user, method: :delete,
                                data: { confirm: "本当に削除しますか?" } %> </li>
    </ul>
  </div>
  <div class="col-xs-9">
    <div class="row edit_user_account">
      <div class="col-xs-3 edit_user_icon text-right">
        <%= gravatar_for @user, size: 38 %>
      </div>
      <div class="col-xs-9 edit_user_name">
        <h1 class="h1_edit_user_name"><%= @user.user_name %></h1>
        <a href="http://gravatar.com/emails" target="_blank">プロフィール写真を変更</a>
      </div>
    </div>
    <div class="form-horizontal" role="form">
      <%= form_for@user, html: { class: "form_user_edit" } do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <div class="col-xs-3 text-right"><%= f.label :user_name %></div>
          <div class="col-xs-9"><%= f.text_field :user_name, class: 'form-control' %></div>
        </div>
        <div class="form-group">
          <div class="col-xs-3 text-right"><%= f.label :name %></div>
          <div class="col-xs-9"><%= f.text_field :name, class: 'form-control' %></div>
        </div>
        <div class="form-group">
          <div class="col-xs-3 text-right"><%= f.label :website %></div>
          <div class="col-xs-9"><%= f.text_field :website, class: 'form-control' %></div>
        </div>
        <div class="form-group">
          <div class="col-xs-3 text-right"><%= f.label :pr_text %></div>
          <div class="col-xs-9"><%= f.text_area :pr_text, class: 'form-control' %></div>
        </div>
        <div class="form-group  mt-30">
          <div class="col-xs-3 text-right"></div>
          <div class="col-xs-9">非公開情報</div>
        </div>
        <div class="form-group">
          <div class="col-xs-3 text-right"><%= f.label :email %></div>
          <div class="col-xs-9"><%= f.email_field :email, class: 'form-control' %></div>
        </div>
        <div class="form-group">
          <div class="col-xs-3 text-right"><%= f.label :phone %></div>
          <div class="col-xs-9"><%= f.telephone_field :phone, class: 'form-control' %></div>
        </div>
        <div class="form-group">
          <div class="col-xs-3 text-right"><%= f.label :gender %></div>
          <div class="col-xs-9"><%= f.select :gender, [["男性", "男性"], ["女性", "女性"],  ["答えたくない", "答えたくない"] ],
                      :prompt => "選択してください", class: 'form-control' %></div>
        </div>
        <div class="form-group">
          <div class="col-xs-3 text-right"><%= f.label :notification %></div>
          <div class="col-xs-9 checkbox"><%= f.check_box :notification, {}, 'true', 'false' %><label>お知らせを受け取る</label></div>
        </div>
        <%= f.submit "送信する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
</div>
