<% provide(:title, @user.name) %>
<section class="user_info">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.user_name %>
  </h1>
</section>
<section class="stats">
  <%= render 'shared/stats' %>
</section>
<%= render 'follow_form' if logged_in? %>
<section class="photoline">
  <% if @user.posts.any? %>
    <h3>Posts (<%= @user.posts.count %>)</h3>
    <ol class="posts">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
  <% end %>
</section>