<% provide(:title, "新規投稿") %>
<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    <%= f.text_area :text, placeholder: "Compose new post..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>